<div class="heading">
    <h3 align="center">Admin Activity - Teacher</h3>
  
    <div>
  
      <ul class="nav nav-tabs">
  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addteacher">Add Teacher</a>
  
        </li>
  
        
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/updateteacher">Update Teacher</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teacherlist">Get All Teachers List</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teacherbyid">Get Teacher By ID</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/removeteacher">Delete Teacher</a>
  
        </li>
  
  
      </ul>
    </div>
    <div>
  
      <router-outlet>
  
  
      </router-outlet>
    </div>
