<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Student Retrieval Form
    </h3>
    <a routerLink="/student">Back to student Operations</a>
    </div>
</div>
<div align="center">
<div class="table table-bordered" style="width: 18rem; font-style: normal;">
    
        
            <div class="form-group">
                <label>Student ID:</label>
                <input type="number"  [(ngModel)]="id" class="form-control" placeholder="Enter Student ID">
              </div>
              <button type="submit" class="btn btn-primary" (click)=getStudentById()>Get Student</button>
            
            
            

   
    <div class="table table-striped" style="width: 20rem; font-style: oblique;">
        <h3>Student Detail</h3>
    
        <table >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                
            </tr>
            <tr >
                <td>{{student.id}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentGender}}</td>
                <td>{{student.studentAge}}</td>
    
            </tr>
    
        </table>
        
    </div>
</div>
</div>

