<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Teacher Retrieval Form
    </h3>
    <a class="nav-link " routerLink="/teacher">Back to Teacher Operations</a>
    </div>
</div>
<div align="center" style="border: none;">
<div class="table table-striped" style="width: 37rem; font-style: normal;">
    
        
            <div class="form-group">
                <label>Teacher ID:</label>
                <input type="number"  [(ngModel)]="teacherID" class="form-control" placeholder="Enter Teacher ID">
              </div>
              <button type="submit" class="btn btn-primary" (click)=getTeacherById()>Get Teacher</button>
            
            
            

   
    <div class="table table-bordered" style="width: 37rem; font-style: normal;">
        <h3>Teacher Detail</h3>
    
        <table >
            <tr>
                <th>TEACHER_ID</th>
                <th>TEACHER_NAME</th>
                <th>TEACHER_CONTACT</th>
                
                
                
            </tr>
            <tr >
                <td>{{teacher.teacherID}}</td>
                <td>{{teacher.teacherName}}</td>
                <td>{{teacher.teacherContact}}</td>
            
    
            </tr>
    
        </table>
        
    </div>
</div>
</div>
