<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Subject Creation Form
    </h3>
    <a class="nav-link " routerLink="/subject">Back to Subject Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Subject Code:</label>
                <input type="text"  [(ngModel)]="subject.subjectCode" class="form-control" placeholder="Enter SubjectCode">
              </div>
              <div class="form-group">
                <label>Subject Name:</label>
                <input type="text"  [(ngModel)]="subject.subjectName" class="form-control" placeholder="Enter Subject Name">
              </div>
              
              

              <button type="submit" class="btn btn-primary" (click)=createSubject()>Add Subject</button>
            
            
            

    </table>
</div>
</div>

