<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Get Subject  !!
    </h3>
    <a class="nav-link " routerLink="/subject">Back to Subject Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Subject ID(Subject to be Viewed):</label>
                <input type="number"  [(ngModel)]="sNo" class="form-control" placeholder="Enter Subject ID">
              </div>
              </tr>
              <button type="submit" class="btn btn-primary" (click)=getSubjectById()>Get Subject</button>
              </table>

              <div class="table table-bordered" style="width: 20rem; font-style: normal;">
                <h3>Subject Detail</h3>
            
                <table >
                    <tr>
                        <th>sNo</th>
                        <th>Subject Code</th>
                        <th>Subject</th>
                        
                        
                    </tr>
                    <tr >
                        <td>{{subject.sNo}}</td>
                        <td>{{subject.subjectCode}}</td>
                        <td>{{subject.subjectName}}</td>
                        
            
                    </tr>
            
                </table>
                
            </div>
        </div>
        </div>
        
        