<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="text-decoration: underline;">
            Class Retrieval Form
        </h3>
        <a class="nav-link " routerLink="/class">Back to Class Operations</a>
    </div>
    <div align="center">
        <div class="table table-striped" style="width: 20rem; font-style: normal;">


            <div class="form-group">
                <label>Class ID:</label>
                <input type="number" [(ngModel)]="classId" class="form-control" placeholder="Enter Class ID">
            </div>
            <button type="submit" class="btn btn-primary" (click)=getClassById()>Get Class</button>





            <div class="table table-bordered" style="width: 37rem; font-style: normal;">
                <h3>Class Detail</h3>

                <table>
                    <tr>
                        <th>classId</th>
                        <th>Class_Name</th>
                        <th>Has Students</th>
                        <th>Has Subjects</th>
                        <th>Has Teachers</th>


                    </tr>
                    <tr>
                        <td>{{cls.classId}}</td>
                        <td>{{cls.className}}</td>
                        <td>{{cls.students && cls.students[0] ? 'Yes' : 'No student '}}</td>
                        <td>{{cls.subjects && cls.subjects[0] ? 'Yes' : 'No subject '}}</td>
                        <td>{{cls.teachers && cls.teachers[0] ? 'Yes' : 'No Teacher '}}</td>


                    </tr>

                </table>

            </div>
        </div>

    </div>