<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
        <h3 style="text-decoration: underline;">
            Class Deletion Form
        </h3>
        <a class="nav-link " routerLink="/class">Back to Class Operations</a>
    </div>
    </div>
    <div align="center">
    <div class="form-group">
        <table>
            <tr>
                <div class="form-group">
                    <label>Class Name:</label>
                    <input type="text"  [(ngModel)]="classdetail.className" class="form-control" placeholder="Enter ClassName">
                  </div>
                  
    
                  <button type="submit" class="btn btn-primary" (click)=createClass()>Delete Class</button>
                
                
                
    
        </table>
    </div>
    </div>
    
    