<div class="jumbotron" style="height: 0rem;"> 
  <div align="center">
    <h3 style="text-decoration: underline;">
        Student Update  Form
    </h3>
    <a routerLink="/student">Back to student Operations</a>
  </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <div class="form-group">
                    <label>Student ID:</label>
                    <input type="text"  [(ngModel)]="student.id" class="form-control" placeholder="Enter StudentID">
                  </div>
                <label>Student Name:</label>
                <input type="text"  [(ngModel)]="student.studentName" class="form-control" placeholder="Enter StudentName">
              </div>
              <div class="form-group">
                <label>Student Gender:</label>
                <input type="text"  [(ngModel)]="student.studentGender" class="form-control" placeholder="Enter StudentGender">
              </div>
              <div class="form-group">
                <label>Student Age:</label>
                <input type="text"  [(ngModel)]="student.studentAge" class="form-control" placeholder="Enter StudentAge">
              </div>
              

              <button type="submit" class="btn btn-primary" (click)=updateStudent()>Save </button>
            
            
            

    </table>
</div>
</div>

