<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="text-decoration: underline;">
            Class List
        </h3>
        <a class="nav-link " routerLink="/class">Back to Class Operations</a>
</div>
    </div>
    <div align="center">
    <div class="table table-bordered" style="width: 37rem; font-style: normal;">
        

        <table>
            <tr>
                <th>ClassId</th>
                <th>ClassName</th>
                <th>Has Students</th>
                <th>Has Subjects</th>
                <th>Has Teachers</th>
                <th>Action</th>


            </tr>
            <tr *ngFor="let c of classes">
                <td>{{c.classId}}</td>
                <td>{{c.className}}</td>
                <td>{{c.students && c.students[0] ? 'Yes' : 'No student '}}</td>
                <td>{{c.subjects && c.subjects[0] ? 'Yes' : 'No subject '}}</td>
                <td>{{c.teacher && c.teacher[0] ? 'Yes' : 'No Teacher '}}</td>
                <td><button (click)="getClassReport()">View Class Report</button></td>
        </tr>

        </table>

    </div>
    </div>