<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 >
        Awards
    </h3>
    
    </div>
    <div align="center">
        <h3 >
            Lab & Infra
        </h3>
        
        </div>
    </div>