<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Teacher List !!
    </h3>
    <a class="nav-link " routerLink="/teacher">Back to Teacher Operations</a>
    </div>
</div>
<div align="center" style="border: none;">
<div class="table table-bordered" style="width: 38rem; font-style: normal;">
    

    <table >
        <tr>
            <th>TEACHER_ID </th>
            <th>TEACHER_NAME</th>
            <th>TEACHER_CONTACT</th>
            
            
        </tr>
        <tr *ngFor="let teacher of teachers">
            <td>{{teacher.teacherID}}</td>
            <td>{{teacher.teacherName}}</td>
            <td>{{teacher.teacherContact}}</td>
            

        </tr>

    </table>
    
</div>
</div>