<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Class Update Form
    </h3>
    <a class="nav-link " routerLink="/class">Back to Class Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Class Name:</label>
                <input type="text"  [(ngModel)]="classdetail.className" class="form-control" placeholder="Enter ClassName">
              </div>
              <div class="form-group">
                <label>Class ID:</label>
                <input type="text"  [(ngModel)]="classdetail.classId" class="form-control" placeholder="Enter Class ID">
              </div>
              

              <button type="submit" class="btn btn-primary" (click)=updateClass()>Update Class</button>
            
            
            

    </table>
</div>
</div>

