<div class="jumbotron" style="height: 0rem;"> 
  <div align="center">
  <h3 >
    <p>Welcome to Admin Services</p>
  </h3>
  </div>

<div align="center">
  
  <li class="nav-item">
    <a class="nav-link " routerLink="/student">Student</a>
    <a class="nav-link " routerLink="/teacher">Teacher</a>
    <a class="nav-link " routerLink="/class">Class</a>
    <a class="nav-link " routerLink="/subject">Subject</a>
  
  </li>
</div>

