<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Delete Subject  !!
    </h3>
    <a class="nav-link " routerLink="/subject">Back to Subject Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group" textalign="center">
                <label>Subject ID(Subject to be Deleted):</label>
                <input type="number"  [(ngModel)]="sNo" class="form-control" placeholder="Enter Subject ID">
              </div>
              </tr>
              <button type="submit" class="btn btn-primary" (click)=removeSubject()>Remove Subject</button>
              </table>
              </div>
              </div>

              