<div class="heading">
    <h3 align="center">Admin Activity - Student</h3>
  
    <div>
  
      <ul class="nav nav-tabs">
  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addstudent">Add Student</a>
  
        </li>
  
        
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/updatestudent">Update Student</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/studentslist">Get All Students List</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/studentbyid">Get Student By ID</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/removestudent">Delete Student</a>
  
        </li>
  
  
      </ul>
    </div>
    <div>
  
      <router-outlet>
  
  
      </router-outlet>
    </div>
