<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Get Subject  !!
    </h3>
    <a class="nav-link " routerLink="/subject">Back to Subject Operations</a>
    </div>
</div>
<div align="center">
<div class="table table-bordered" style="width: 25rem; font-style: normal;">
    <h3>Subject List</h3>

    <table >
        <tr>
            <th>SUBJECT_ID </th>
            <th>SUBJECT_CODE</th>
            <th>SUBJECT_NAME</th>
            
        </tr>
        <tr *ngFor="let subject of subjects">
            <td>{{subject.sNo}}</td>
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.subjectName}}</td>

        </tr>

    </table>
    
</div>
</div>