<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Teacher Delete Form
    </h3>
    <a class="nav-link " routerLink="/teacher">Back to Teacher Operations</a>
    </div>
</div>
<div align="center">
<div class="table table-striped" style="width: 20rem; font-style: oblique;">
    
        
            <div class="form-group">
                <label>Teacher ID:</label>
                <input type="number"  [(ngModel)]="teacherID" class="form-control" placeholder="Enter Teacher ID">
              </div>
              <button type="submit" class="btn btn-primary" (click)=deleteTeacher()>Delete Teacher</button>
              </div>
              </div>
              