<div class="jumbotron" style="height: 0rem;"> 
  <div align="center">
    <h3 style="text-decoration: underline;">
        Teacher Update Form
    </h3>
    <a class="nav-link " routerLink="/teacher">Back to Teacher Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <div class="form-group">
                    <label>Teacher ID:</label>
                    <input type="text"  [(ngModel)]="teacher.teacherID" class="form-control" placeholder="Enter Teacher ID">
                  </div>
                <label>Teacher Name:</label>
                <input type="text"  [(ngModel)]="teacher.teacherName" class="form-control" placeholder="Enter TeacherName">
              </div>
              <div class="form-group">
                <label>Teacher Contact:</label>
                <input type="text"  [(ngModel)]="teacher.teacherContact" class="form-control" placeholder="Enter Teacher Contact">
              </div>
              

              <button type="submit" class="btn btn-primary" (click)=updateTeacher()>Update Teacher</button>
            
            
            

    </table>
</div>
</div>


