<div class="heading">
    <h3 align="center">Admin Activity - Class</h3>
  
    <div>
  
      <ul class="nav nav-tabs">
  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addclass">Add Class</a>
  
        </li>
  
        
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/updateclass">Update Class</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classlist">Get All Classes List</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classbyid">Get Class By ID</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/removeclass">Delete Class</a>
  
        </li>
  
  
      </ul>
    </div>
    <div>
  
      <router-outlet>
  
  
      </router-outlet>
    </div>
