<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="text-decoration: underline;">
            Student's List !!

        </h3>
        
            <a routerLink="/student">Back to student Operations</a>


    

    </div>

</div>
<div align="center">


    <div class="table table-bordered" style="width: 18rem; font-style: normal;">
        <h3>Student List</h3>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>

            </tr>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentGender}}</td>
                <td>{{student.studentAge}}</td>


            </tr>

        </table>

    </div>
</div>