<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="text-decoration: underline;">
        Remove Student  !!
    </h3>
    <a routerLink="/student">Back to student Operations</a>
    </div>
</div>
<div align="center">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Student ID(Student to be deleted):</label>
                <input type="number"  [(ngModel)]="id" class="form-control" placeholder="Enter Student ID">
              </div>
              </tr>
              <button type="submit" class="btn btn-primary" (click)="deleteStudent()">Remove Student</button>
              </table>
              </div>
              </div>