<div class="heading">
    <h3 align="center">Admin Activity - Subject</h3>
  
    <div>
  
      <ul class="nav nav-tabs">
  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addsubject">Add Subject</a>
  
        </li>
  
        
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/updatesubject">Update Subject</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjectlist">Get All Subjects List</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjectbyid">Get Subject By ID</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/removesubject">Delete Subject</a>
  
        </li>
  
  
      </ul>
    </div>
    <div>
  
      <router-outlet>
  
  
      </router-outlet>
    </div>
